/* Nav Bar  */

/* Top Nav Bar */
.navbar-container {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  align-items: center;
}

.navbar-container img {
  width: 15px;
  height: 15px
}

/* side Nav Bar */

.navbar-container-side {
  display: block;
  width: 60px;
  height: 100vh;
  padding-top: 1em;


}

.navbar-container-side img {
  width: 20px;
  height: 20px;
  margin: 2em 1em;
}




/* Recipe Card */

.recipe-card {
  width: 200px;
  height: 400px;
  /* box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15); */
  padding: 5px;
  /* border: 1px rgba(175, 175, 175, 0.166) solid; */

}

.recipe-card img {
  width: 200px;
  height: 400px;
  object-fit: cover
}
.recipe-card-img-container {
  position: relative;
 
}
.heart {
 width:10px;
}

.heart-background{
  width:20px;
  height:20px;
  background-color: rgba(255, 255, 255, 0.711);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.recipecard-info {
  position: absolute;
  bottom:3px;
  display: flex;
  flex-direction: column; 
  padding: 6px;
  

}


.recipe-card-tag{
  background-color: rgba(255, 255, 255, 0.711);
  height:20px;
  padding: 2px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 500;
  margin-right: 100px;
}

.recipecard-see-more {
  width: 60px;
  height:27px;
  border-color: rgba(255, 255, 255, 0.296);
  border: 1px dashed rgba(255, 255, 255, 0.491);
  border-radius: 14px;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 2px;
  align-items: center;
}

.recipecard-info-top {
 margin-bottom: 9px;
 align-items: center;
}

.recipecard-info-top p {
  margin-right: 10px;
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.755);
  font-size: 12px;
}


/* main body */

.main-content{
  display: flex;
  height: 90vh

  
  

}

.main-body{
  /* display: flex; */
 display: grid;
 grid-template-columns: 2fr 1fr;
  margin-top: 3em;
  width: 90vw;
  margin-left: 2em;
  margin-right: 2em;
  
}

.main-body-main{
  display: block;
  margin-top: 3em;
  width: 90vw;
  margin-left: 2em;
  margin-right: 2em;
}

/* Cart */
.cart-item {
  display: grid;
  grid-template-columns: 1fr 1fr .5fr;


}

.cart-item-img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.cart-order-container {
  margin-top: 1em;
  background-color: #F8F8F8;
  width: auto;
  padding:1em;
  overflow: scroll;
}

.cart-container {
  height: 60vh;
  overflow: scroll;
}

.order-container{
  height: 66vh
}